{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container text-center">
      <br/>
      <h1 class="display-5">Report's Input</h1>
      <br/>
      <p>This App will create rows input rows for IBM Tririga Reports</p>
      <br/>
      <a class="btn btn-primary" href="mailto:jainrahul0311@gmail.com" role="button">Suggestion!! &raquo;</a>
    </div>
  </div>

  <div class="container">
      <form action="{% url 'reportsinput' %}" enctype="multipart/form-data" method="POST">
          {% csrf_token %}
        <div class="row">
          <div class="col-md-9 form-group">
            <textarea class="form-control" name="inp" rows="10" placeholder="Input goes here ..."></textarea>
          </div>
          <div class="col">
              <br/>
              <br/>
              <br/>
              <div class="row">
                <input type="text" class="form-control col-5 mx-auto" name='size' placeholder="Row size">
              </div>
              <br/>
              <div class="row">
                  <button type="submit" class="btn btn-warning btn-md mx-auto">Convert</button>
              </div>
          </div>
        </div>
      </form>
      <hr>
      <div class="container form-group">
          <textarea class="form-control" id="output" rows="{{rows}}" placeholder="Output goes here ..." >{{data}}</textarea>
      </div>
    <hr>
  </div>
{% endblock %}