{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container text-center">
      <br/>
      <h1 class="display-5">Add PLO's</h1>
      <br/>
      <p>This App will add PLO to DB for logging</p>
      <br/>
      <a class="btn btn-primary" href="mailto:jainrahul0311@gmail.com" role="button">Suggestion!! &raquo;</a>
    </div>
  </div>

  <div class="container">
      <h6>Please add PLO ID's in single column, also ensure that given REQ # and Action Taken will map to all PLO provided in input.</h6>
      <br/>
      <form action="{% url 'addplo' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
      <div class="row">
        <div class="col-md-7 form-group">
          <textarea class="form-control" name="inp" rows="10" placeholder="Input goes here ..."></textarea>
        </div>
        <div class="col">
            <br/>
            <br/>
            <br/>
            <div class="row">
              <p>Request ID : </p>
              <input type="text" class="form-control col-6 mx-auto" name="req" placeholder="Request #">
            </div>
            <br/>
            <div class="row">
                <p>Action Taken</p>
                <input type="text" class="form-control col-6 mx-auto" name="action" placeholder="Less than 50 char">
            </div>
            <br/>
            <div class="row">
                <button type="submit" class="btn btn-danger btn-md mx-auto">Add!</button>
            </div>
        </div>
      </div>
    </form>
    <hr>
  </div>
{% endblock %}